

    .singlePage .right {
        margin-top: 30px;
    }
.left {
    display: block;
    margin-left: auto;
    margin-right: auto
}
    .singlePage img {
        width: 700px;
        height: 500px;
        border-radius: 10px;
    }

    .singlePage h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .singlePage p {
        margin: 20px 0;
        font-size: 18px;
        line-height: 2;
        text-transform: capitalize;
    }

    .singlePage .buttons {
        display: flex;
        justify-content: flex-end;
    }

    .singlePage .button {
        margin-left: 20px;
        border: none;
    }

        .singlePage .button:nth-child(1) {
            background: #10ac84;
        }

        .singlePage .button:nth-child(2) {
            background: #ee5253;
        }
